// SPDX-FileCopyrightText: 2026 Dylan Lee
// SPDX-License-Identifier: Apache-2.0

#include <physical_layouts.dtsi>

/ {
    astrolabe_layout: astrolabe_layout {
        compatible = "zmk,physical-layout";
        display-name = "Five-way";

        // Up, Down, Left, Right, Center.
        keys = <&key_physical_attrs 100 100 100   0   0 0 0>
             , <&key_physical_attrs 100 100 100 200   0 0 0>
             , <&key_physical_attrs 100 100   0 100   0 0 0>
             , <&key_physical_attrs 100 100 200 100   0 0 0>
             , <&key_physical_attrs 100 100 100 100   0 0 0>
             ;
    };
};

